@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-light-pink;
  font-family: 'Work Sans', sans-serif;
}

.centrear {
  left: calc(50% - 180px);
}
.shadow {
  box-shadow: 0 11px 30px 0 #e8c9eb;
}

@media (min-width: 768px) {
  .centrear {
    left: calc(50% - 300px);
  }
}
